.container-pay{
    display: flex;
    float: left;
}
.row{
    display: flex;
    margin-left: 14px;
}

.content-pay-left
{
    flex: 1;
    margin-left: 50px;
    margin-right: 100px ;
}

.content-pay-left h4{
    text-align: center;
}

.content-pay-left img{
    margin-left: 26px;
}

.content-pay-left p{
    margin-left: 58px;
}

.content-pay-right{
    flex: 1;
    margin-left: 100px;
    margin-right: 50px;
}
.content-pay-right{
    text-align: center;
}

.content-pay-right form{
    margin-top: 44px;
}

.content-pay-right input{
   width: 100%;
   display: block;
   margin: 16px;
}
/* Thong ke doanh thu */
.chart-layout{
    margin: 36px auto 0 auto;
    padding-bottom: 14px;
    height: 568px;  
    background-color: #fff;
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
    
}
.chart-layout__item{
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 0.9s;
}
@keyframes growth {
    from{
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to{
        opacity: 1;
        height: var(--percent);
    } 
}

.number-year{
    display: flex;
    justify-content: space-around;
}
