*{
    padding: 0;
    margin: 0;
}
html{
    padding:0;
}
body{
    width: 100%;
}

.main{
    display: flex;
}

.container-nav{
    flex: 20;
}

.container-content{
    flex: 70;
}

/*******************************/
.list-group{
    position: fixed;
    display: block;
    max-width: 280px;
    z-index: 99;
}
.container-list-group{
    min-width: 260px;
    height: 100vh;
    background-color: rgba(52,46,80,0.8);
}
.list-group .list-group-item{
    background-color: rgba(52,46,80,0.8);
    color: #fff;
}

.list-group .list-group-item:hover{
    background-color: rgba(162, 184, 230);
}
.list-group .list-group-item:focus{
    background-color: rgba(12, 3, 57, 0.9);
    color: #fff;
}

.content{
    width: 100%;
}

.panel{
    width: 100%;
    float: left;
    margin-top: 30px;
}


.card{
    float: left;
    margin: 15px;
    width: 18rem;
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/****************************************/


/*******************************************/
.form-addroom input{
    width: 100%;
    padding: 6px;
}
.info-room{
    margin-bottom: 16px;
}


.booking-form {
    width: 90%;
    max-width: 90%;
    padding: auto;
}
.booking-form input{
    min-width: 100%;
    padding: 16px;
    margin: 16px 0;
}
.booking-form .form-btn {
    background-color: #fa9e1b;
    border: none;
}
.inp-email{
    bottom: 0px;
}
.col-md-9{
    margin: 22px 0;
}



.container-account input , button{
    padding: 16px !important;
    margin: 20px;
    display: block;
   
}

.menu{
    background-color: #333;
    color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: none;
}
.menu p{
    display: inline-block;
    margin: 20px 0 0 5%;
}
.icon-head-nav{
    float: right;
    font-size: 20px;
    margin: 12px;
    padding: 4px;
    margin-right: 15%;
}
/*************************/
.content-pay-right input{
    min-width: 300px;
    padding: 8px;
    margin-top: 8px;
}
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
/* Thong ke doanh thu */
.chart-layout{
    margin: 36px auto 0 auto;
    padding-bottom: 14px;
    height: 568px;  
    background-color: #fff;
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
    
}
.chart-layout__item{
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 0.9s;
}

@keyframes growth {
    from{
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to{
        opacity: 1;
        height: var(--percent);
    } 
}

.number-year{
    display: flex;
    justify-content: space-around;
}




/*************************/
.err-open{
    display: block!important;
}
.open{
    display: block;
}
.close{
    display: none;
}